@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  button,
  a {
    font-family: Josefin Sans, system-ui, sans-serif;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
  html {
    font-family: Lato, system-ui, sans-serif;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}

@layer components {
  .label {
    @apply text-xs font-medium;
  }
  .error-label {
    @apply text-xs font-medium text-red-500;
  }
  .input {
    @apply block w-full appearance-none rounded-md border border-gray-200 bg-gray-50 px-4 py-2 text-gray-900 placeholder-gray-400 focus:border-emerald-500 focus:bg-white focus:outline-none focus:ring-emerald-500 sm:text-base;
  }
  .error-input {
    @apply block w-full appearance-none rounded-md border border-red-500 bg-gray-50 px-4 py-2 text-gray-900 placeholder-gray-400 focus:bg-white focus:outline-none focus:ring-emerald-500 sm:text-base;
  }
}
